@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* Base Styles */
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  background: #2b1231;
  color: #fff;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg, 
    rgb(119, 28, 175) 0%, 
    rgb(31, 18, 37) 25%, 
    rgb(12, 114, 12) 51%, 
    rgb(59, 39, 73) 100%
);  
animation: AnimateBG 20s ease infinite;
}



@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
  }